@media (min-width: 0px) and (max-width: 576px) {
  .section-navbar .top_txt .container {
    flex-direction: column;
  }
  .home-first-section .section-title-h1 {
    font-size: 32px;
    line-height: 40px;
  }
  .home-first-section .text-white {
    font-size: 16px;
  }
  .home-second-section .container .featured-item {
    max-width: 300px;
    align-items: center;
    justify-self: center;
  }
  .footer h4 {
    margin-bottom: 10px;
  }
  .home-second-section .container img {
    max-width: 140px;
  }
  .home-second-section .container {
    padding: 0;
    background-color: #fff;
    margin: 30px 0 15px 0;
  }
  .footer .content-4 input {
    width: 80%;
  }
  .footer .row {
    margin: 0 !important;
  }
  #product-container {
    grid-template-columns: repeat(1, 1fr);
  }
  section {
    display: block;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .section-navbar .top_txt .container {
    flex-direction: column;
  }
  .home-first-section .text-white {
    font-size: 16px;
  }
  .home-second-section .container .featured-item {
    max-width: 300px;
    align-items: center;
    justify-self: center;
  }
  .footer h4 {
    margin-bottom: 10px;
  }
  .home-first-section .section-title-h1 {
    font-size: 32px;
    line-height: 40px;
  }
  .home-second-section .container img {
    max-width: 140px;
  }
  .footer .row {
    margin: 0 !important;
  }
  #product-container {
    grid-template-columns: repeat(1, 1fr);
  }
  section {
    display: block;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  #product-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  #product-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1200px) and (max-width: 1440px) {
}
@media (min-width: 1441px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1800px !important;
  }
}
