@media (min-width: 0px) and (max-width: 576px) {
  .top_txt {
    & .head_txt p {
      font-size: 14px;
    }
  }
  .section-navbar .top_txt .container {
    flex-direction: column;
  }
  .home-first-section .section-title-h1 {
    font-size: 32px;
    line-height: 40px;
  }
  .home-first-section .text-white {
    font-size: 16px;
  }
  .home-second-section .container .featured-item {
    max-width: 300px;
    align-items: center;
    justify-self: center;
  }
  .footer h4 {
    margin-bottom: 10px;
  }

  .home-second-section .container img {
    max-width: 140px;
  }
  .home-second-section .container {
    padding: 0;
    background-color: #fff;
    margin: 30px 0 15px 0;
  }
  .footer .content-4 input {
    width: 80%;
  }
  .footer .row {
    margin: 0 !important;
  }
  #product-container {
    grid-template-columns: repeat(1, 1fr);
  }
  .cards {
    width: 300px;
    & p {
      margin-bottom: 0;
    }
  }
  .div-policy {
    gap: 15px;
    padding: 20px 32px 10px 32px;
    flex-direction: column;
    border-bottom: 1px solid var(--backgroundColor) !important;
    & p {
      margin-bottom: 5px;
    }
  }
  #paginationContainer button,
  #pagination-container button {
    padding: 7px 14px;
    font-size: 14px;
  }
  .product-prices {
    gap: 20px;
    font-size: 18px;
  }
  .section-title-h2 {
    font-size: 32px;
    line-height: 38px;
    font-weight: 700;
  }
  #productCartContainer {
    & .information-card {
      grid-template-columns: 1fr;
      place-items: center;
      gap: 10px;
    }
  }
  .productCartTotalElement {
    width: 280px;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .section-navbar .top_txt .container {
    flex-direction: column;
  }
  .home-first-section .text-white {
    font-size: 16px;
  }
  .home-second-section .container .featured-item {
    max-width: 300px;
    align-items: center;
    justify-self: center;
  }
  .footer h4 {
    margin-bottom: 10px;
  }
  .home-first-section .section-title-h1 {
    font-size: 32px;
    line-height: 40px;
  }
  .home-second-section .container img {
    max-width: 140px;
  }
  .footer .row {
    margin: 0 !important;
  }
  #product-container {
    grid-template-columns: repeat(1, 1fr);
  }
  #productCartContainer {
    & .information-card {
      grid-template-columns: 1fr;
      place-items: center;
      gap: 10px;
    }
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .cards {
    width: 320px;
    height: 815px;
    & p {
      margin-bottom: 0;
    }
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  #product-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .cards {
    width: 315px;
  }
  .div-policy {
    gap: 15px;
    padding: 20px 20px 10px 20px;
    flex-direction: column;
    & p {
      margin-bottom: 5px;
    }
  }
  .product-prices {
    font-size: 20px;
  }
  #productCartContainer {
    & .information-card {
      grid-template-columns: 1fr;
      place-items: center;
      gap: 5px;
    }
  }
}
@media (min-width: 1200px) and (max-width: 1440px) {
  #product-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}
@media (min-width: 1441px) {
}
